﻿<!--<h1 data-bind="html: title"></h1>-->

<div class="layout-jumbotron">
    <div class="layout-jumbotronText">
        FUNCTION SIXPENNY(<b>YOU</b>, <b>ME</b>)
        <br />
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <div class="col-md-12">
                <div class="about-infoColumn">
                    Bio info here!
                </div>
            </div>
            <div class="col-md-12">
                <img class="about-mapImage img-responsive" src="/Content/images/gainesville.png" />
            </div>            
        </div>
        <div class="col-md-4">
            <div class="about-ContactForm">
                <div class="about-contactFormHeader">
                    <div class="about-contactFormHeaderText">Let's work together</div>
                </div>
                <form id="contactForm">
                    <div class="form-group about-formGroup">
                        <label class="about-formLabel" for="name">What do your friends call you?</label>
                        <input type="text" class="form-control about-formInfo about-tooltip" id="name" name="name" placeholder="Your name" data-placement="top">
                    </div>
                    <div class="form-group about-formGroup">
                        <label class="about-formLabel" for="email">How about an email (we'll keep it safe!):</label>
                        <input type="email" class="form-control about-formInfo about-tooltip" id="email" name="email" placeholder="Email address" data-placement="top">
                    </div>
                    <div class="form-group about-formGroup">
                        <label class="about-formLabel" for="phone">Want an old fashioned phone call? (<text class="about-optionalTag">Optional</text>)</label>
                        <input type="text" class="form-control about-formInfo about-tooltip" id="phone" name="phone" placeholder="Phone number" data-placement="top">
                    </div>
                    <div class="form-group about-formGroup">
                        <label class="about-formLabel" for="message">How can we serve you?</label>
                        <textarea class="form-control about-formMessage about-tooltip" id="body" name="body" placeholder="Tell / Ask / Command us anything!" data-placement="top"></textarea>
                    </div>
                    <button type="submit" class="btn layout-contactButton pull-right" id="sendEmailMessage">Bombs away!<span><sup>*</sup></span></button>
                    <br />
                    <br />
                    <span class="about-footnote pull-right">* <i>Does not actually deploy any ordnance.</i></span>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="modalMessageSuccess" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content layout-modalContent">
            <div class="modal-header layout-modalHeader">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Message Sent!</h4>
            </div>
            <div class="modal-body layout-modalBody">
                <p>We appreciate your interest and promise to be in touch shortly.</p>
            </div>
            <div class="modal-footer layout-modalFooter">
                <button type="button" class="btn layout-contactButton" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="modalMessageFailure" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content layout-modalContent">
            <div class="modal-header layout-modalHeader">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Whoops!</h4>
            </div>
            <div class="modal-body layout-modalBody">
                <p>An unfortunate error occured. Please try again, or email us directly at <a class="layout-link" href="mailto: mjtischler@gmail.com">mjtischler@gmail.com</a></p>
            </div>
            <div class="modal-footer layout-modalFooter">
                <button type="button" class="btn layout-contactButton" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="/App/sendEmail.js"></script>