﻿@using System.Web;
@using System.Web.Optimization;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Styles.Render("~/Content/css")
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body>

    <div id="applicationHost">
        
        <!-- The application is rendered here -->        
        
    </div>

    @Scripts.Render("~/scripts/vendor")
    <script src="~/Scripts/require.js" data-main="/App/main"></script>
</body>
</html>
