﻿<link rel="stylesheet" type="text/css" href="/Content/kendo/2015.3.1111/kendo.material.min.css">
<link rel="stylesheet" type="text/css" href="/Content/kendo/2015.3.1111/kendo.material.mobile.min.css">

<nav class="navbar navbar-default navbar-static-top layout-sisNavbar layout-sisNavbarItem">

    <div class="navbar-header">
        <div class="layout-navbarWrapper pull-right">
            <div class="layout-navbarLinks">
                <button type="button" class="navbar-toggle layout-navbarToggle" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
        </div>
        <div class="layout-navbarWrapper">
            <span class="layout-sisNavbarBrand">
                <img src="/Content/images/logoTest.png" class="layout-navbarLogo" />
                SIXPENNY INDUSTRIES
            </span>
        </div>
    </div>
    <div class="layout-navbarLinksWrapper">
        <div class="layout-navbarLinks">
            <div class="collapse navbar-collapse layout-navbarCollapse" id="navbar-collapse">
                <ul id="nav-links" class="nav navbar-nav navbar-right" data-bind="source: links" data-template="nav-template"></ul>
            </div>
        </div>
    </div>

</nav>
<!--MT: This div had a class=container; may need to re-add if there is an issue, or add to each app page-->
<div id="content">
</div>

<script type="text/x-kendo-template" id="nav-template">
    <li class="layout-hoverUnderline"><a href="#: href #"><span class="#: icon # layout"></span> #: title #</a></li>   
</script>

<script>
    $(function () {
        var navMain = $("#navbar-collapse");
        navMain.on("click", "a", null, function () {
            navMain.collapse('hide');
        });
    });
</script>