﻿.about-mapImage {
    max-height: 390px;
    margin-top: 10px;
}

.about-contactFormHeader {
    background-color: #52154E;
    color: white;
    text-align: center;
    height: 30px;
}

.about-contactFormHeaderText {
    font-size: 1.5em;
}

.about-bioContainer {
    margin-top: 20px;
    text-align: justify;
}

.about-imageCaption {
    text-align: center;
    font-size: .9em;
}

.about-ContactForm {
    min-height: 530px;
    border: #52154E solid 3px;
    margin-top: 10px;
}

.about-formInfo, .about-formMessage {
    border-radius: 0;
}

    .about-formInfo:focus, .about-formMessage:focus {
        border-radius: 0;
        border-color: #E0B0FF;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(224, 176, 255, .6);
    }

.about-formGroup {
    padding-left: 20px;
    margin-top: 20px;
}

.about-formInfo {
    max-width: 94%;
}

.about-formMessage {
    max-width: 94%;
    min-height: 100px;
}

.about-footnote {
    margin-top: 20px;
    font-size: .9em;
}

.about-optionalTag {
    color: #E0B0FF;
}

.test {
    background-color: rgb(237, 215, 252);
    color: black;
}

.about-tooltip + .tooltip > .tooltip-inner, .about-tooltip + .tooltip > .tooltip-arrow > .tooltip.top .tooltip-arrow {
    background-color: #52154E;
    width: 100%;    
    border-radius: 0px;
}

.about-tooltip + .tooltip.top .tooltip-arrow {
    border-top-color: #52154E;
}

@media (max-width: 767px) {
    .about-formLabel {
        font-size: .9em;
    }

    .about-footnote {
        margin-top: 10px;
        font-size: .8em;
    }
}
