﻿.home-column {
    min-height: 530px;
    margin-top: 10px;
    background-color: #ddd;
    text-align: center;
}

.home-columnHeader {
    width: 100%;
    background-color: #52154E;
}

.home-columnBody {
    text-align: justify;
    padding: 10px;    
}

.home-columnBodyText {
    font-size: 1.4em;
}

.home-columnHeaderText {
    font-size: 2em;
    color: #fff;
}

.home-columnBodyFootnote {
    font-size: .7em;
}

@media (max-width: 767px) {
    .home-columnHeaderText {
        font-size: 1.8em;
    }

    .home-columnBodyText {
        font-size: 1.4em;
    }
}
