﻿body {
    background-color: white;
    color: #52154E;
    font-size: 14px;
}

.layout-sisNavbar {
    background-color: white;
    height: 94px;
    margin-bottom: 0;
}

.layout-sisNavbarItem .navbar-nav > li > a {
    color: #111344;
}

.layout-sisNavbarItem, .navbar-default .navbar-brand {
    color: #111344;
}

    .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
        color: #111344;
        cursor: default;
    }

.layout-sisNavbar .navbar-nav > .active > a, .layout-sisNavbar .navbar-nav > .active > a:focus {
    background: linear-gradient(180deg, white 92%, #52154E 8%);
    color: #52154E;
}

.layout-navbarWrapper {
    display: table;
    height: 94px;
}

.layout-navbarLinksWrapper {
    display: table;
    height: 94px;
    float: right;
}

.navbar-collapse {
    /*background-color: lightgrey;*/
}

.layout-navbarToggle {
    border: none;
    border-radius: 0px;
}

.layout-sisNavbarBrand, .layout-navbarLinks {
    display: table-cell;
    vertical-align: middle;
}

    .layout-sisNavbarBrand, .layout-sisNavbarBrand:hover {
        padding-left: 38px;
        font-size: 2em;
        color: #52154E;
    }

.layout-navbarLinks {
    padding-right: 20px;
    font-size: 1.2em;
}

.layout-hoverUnderline > .navbar-default .navbar-nav > li > a {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    overflow: hidden;
}

.layout-hoverUnderline:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 0;
    background: #D6EADF;
    height: 8%;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.layout-hoverUnderline:hover:before, .layout-hoverUnderline:focus:before, .layout-hoverUnderline:active:before {
    left: 0;
    right: 0;
}

.layout-jumbotron {
    background-color: #E0B0FF;
    border-radius: 0px;
    height: 120px;
    width: 100%;
    text-align: center;
    color: #52154E;
    display: table;
    margin-top: 0;
    padding-top: 0;
}

.layout-jumbotronText {
    font-size: 3em;
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    padding-left: 50px;
}

.layout-navbarLogo {
    max-height: 90px;
}

.layout-link {
    color: #b03ca8;
}

.layout-link:hover, .layout-link:focus, .layout-link:active {
    color: #E0B0FF;
    text-decoration: none;
}

#modalMessageSuccess .modal-dialog, #modalMessageFailure .modal-dialog {
    width: 30%;
}

.layout-modalContent {
    border-radius: 0px;
    border: none;
}

.layout-modalHeader {
    background-color: #E0B0FF;
    color: #52154E;
}

.layout-modalBody {
    font-size: 1.2em;
}

.layout-contactButton {
    background-color: #E0B0FF;
    border-radius: 0px;
    border-color: #E0B0FF;
    color: #52154E;
    margin-right: 10px;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
    -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
    box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
}

    .layout-contactButton:hover {
        background-color: #52154E;
        border-color: #52154E;
        color: white;
        outline: none;
        -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
        -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
        box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
    }

    .layout-contactButton:active, .layout-contactButton:focus, .layout-contactButton:active:focus {
        background-color: #ddd;
        border-color: #ddd;
        color: #52154E;
        outline: none;
        -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
        -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
        box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
    }

@media (max-width: 767px) {

    #modalMessageSuccess .modal-dialog, #modalMessageFailure .modal-dialog {
        width: 94%;
    }

    .layout-navbarCollapse {
        background-color: #ddd;
    }

    .layout-sisNavbar .navbar-nav > .active > a, .layout-sisNavbar .navbar-nav > .active > a:focus {
        background: linear-gradient(180deg, #ddd 92%, #52154E 8%);
    }

    .layout-navbarLinksWrapper {
        float: none;
        margin: 0 auto;
    }

    .layout-navbarLogo {
        max-height: 75px;
    }

    .layout-navbarLinks {
        padding: 0;
    }

    .layout-sisNavbarBrand, .layout-sisNavbarBrand:hover {
        font-size: 1.1em;
        font-weight: bold;
        padding-left: 10px;
    }

    .layout-jumbotronText {
        font-size: 1.2em;
        text-align: center;
        padding: 0;
    }

    .layout-jumbotron {
        height: 80px;
        width: 100%;
    }
}
