﻿<!--<h1 data-bind="html: title"></h1>-->
<div class="layout-jumbotron">
    <div class="layout-jumbotronText">
        THE THUNDERDOME <b>AWAITS</b>
        <br />
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div id="homeColumnLeft" class="col-md-4" hidden>
            <div class="home-column">
                <span>
                    <img src="/Content/images/rubicon.jpg" class="img-responsive" />
                </span>
                <div class="home-columnHeader">
                    <span class="home-columnHeaderText">The Technological Rubicon</span>
                </div>
                <div class="home-columnBody">
                    <span class="home-columnBodyText">
                        Caesar's famous betrayal of the Roman Senate was done without the beauty of responsive design, the Golden Ratio, or functional form. We're here to navigate your technological hurdles and make suggestions based on best practices with modern, cutting edge tools.
                        <br />
                        <br />
                        When we design your web app, everything your users touch (or click) will make sense and function exactly as intended. And we promise it'll have less mauve than sixpenny.com.
                    </span>
                </div>
            </div>
        </div>

        <div id="homeColumnMiddle" class="col-md-4" hidden>
            <div class="home-column">
                <span>
                    <img src="/Content/images/wormhole.jpg" class="img-responsive" />
                </span>
                <div class="home-columnHeader">
                    <span class="home-columnHeaderText">Got Wormholes?</span>
                </div>
                <div class="home-columnBody">
                    <span class="home-columnBodyText">
                        Let's plug them with a mobile-friendly design that not only provides your users with a beautiful and functional web app, but moves your site up the rankings of your favorite search engine (which we're sure is Google).
                        <br />
                        <br />
                        We lean on Bootstrap, MVC 5, KnockoutJS, RequireJS, and jQuery for most of the heavy tech lifting. If you don't know what these are, don't worry; we're happy to explain the details (<i>or not</i>, depending on your level of curiosity).
                    </span>
                </div>
            </div>
        </div>

        <div id="homeColumnRight" class="col-md-4" hidden>
            <div class="home-column">
                <span>
                    <img src="/Content/images/millenniumFalcon.jpg" class="img-responsive" />
                </span>
                <div class="home-columnHeader">
                    <span class="home-columnHeaderText">Faster than Han</span>
                </div>
                <div class="home-columnBody">
                    <span class="home-columnBodyText">
                        Speed, speed, <i>speed</i>: we work fast, respond fast, and provide fast applications. We aim to be a <i>memorable blur</i> every time we finish a partner's project, and pride ourselves on having good, fast fun.
                        <br />
                        <br />
                        Our speed could be legendary: if we were at the table with Greedo and Han, that whole Kylo Ren annoyance would never have happened.<sup>*</sup>
                        <br />
                        <br />
                        <span class="home-columnBodyFootnote"><sup>*</sup><i>For reference, we do the Kessel Run in 11 parsecs. Just sayin'.</i></span>
                    </span>
                </div>
            </div>
        </div>
    </div>

</div>

<script>
    window.onload = animationColumns();

    function animationColumns() {
        setTimeout("showLeftColumn()", 100);
        setTimeout("showMiddleColumn()", 200);
        setTimeout("showRightColumn()", 300);
    };

    function showLeftColumn() {
        kendo.fx($("#homeColumnLeft")).slideIn("right").play();
    };

    function showMiddleColumn() {
        kendo.fx($("#homeColumnMiddle")).slideIn("right").play();
    };

    function showRightColumn() {
        kendo.fx($("#homeColumnRight")).slideIn("right").play();
    };

</script>